<!DOCTYPE html>
<html>
<head>
    <title>Hunt Words!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="game-container">
        <header class="game-header">
            <div class="timer">
                <h2>Time Remaining</h2>
                <h1 id="timer">01:30</h1>
            </div>

            <div class="score-streak-container">
                
            </div>
        </header>

        <main class="game-main">
            <aside class="found-words-panel">
                <div class="score">
                    <h3>Score:</h3>
                    <h3 id="scoreDisplay">0</h3>
                </div>

                <div class="streak">
                    <h3>Streak:</h3>
                    <h3 id="StreakDisplay">0</h3>
                </div>

                <h3>Found Words</h3>
                <ul id="foundWords"></ul>
                
            </aside>

            <section class="game-area">
                <p class="current-word">
                    Current Word: <span id="currentWord"></span>
                </p>

                <p id="wordMessage"></p>

                <div id="board" data-game-type="{{ game_type }}">
                    {% for letter in board_letters %}
                        <div class="tile" data-index="{{ loop.index0 }}">{{ letter }}</div>
                    {% endfor %}
                </div>
            </section>
        </main>
    </div>
    

    <div id="gameOverModal" class="modal hidden">
    <div class="modal-content">
        <h1>🎉 Game Over!</h1>

        <p>Final Score</p>
        <h2 id="finalScore">{{ final_score if locked else 0 }}</h2>

        <p>Words Found</p>
        <h2 id="finalWords">{{ final_words if locked else 0 }}</h2>

        <p>Streak</p>
        <h2 id="finalStreak">{{ final_streak if locked else 0 }}</h2>

        <div class="modal-buttons">
            {% if game_type != "daily" %}
            <a href="{{ url_for('game') }}">
                <button>Play Again</button>
            </a>
            {% endif %}

            <a href="{{ url_for('home') }}">
                <button>Home</button>
            </a>
        </div>
    </div>
</div>

    {% if locked %}
    <script>
    window.addEventListener("DOMContentLoaded", () => {
        document.getElementById("gameOverModal").classList.remove("hidden");
    });
    </script>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>