<!DOCTYPE html>
<html>
    <head>
        <title>Hunt Words!</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <div class="leaderboard-nav">
    <a href="{{ url_for('home') }}" class="back-button">
        ← Back to Home
    </a>
</div>
<div class="big-container">
        <div class="leader-container">
            <h1>Global Stats</h1>
            
            <div class="leader-table">
                <table>
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Highest Score</th>
                        <th>Longest Streak</th>
                        <th>Most Words found</th>
                    </tr>
                    </thead>
                    <tbody id="leader-body">
                      
                    </tbody>
                </table>

            </div>


        </div>

        <div class="leader-container"> 
            <h1>Daily Stats</h1>
              <div class="leader-table">
                <table>
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Highest Score</th>
                        <th>Longest Streak</th>
                        <th>Most Words found</th>
                    </tr>
                    </thead>
                    <tbody id="dailyleader-body">
                      
                    </tbody>
                </table>

            </div>

        </div>
    </div>
        <script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
    </body>
</html>